@import url('reset.css');
@import url(https://fonts.googleapis.com/css?family=Rasa:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);

:root{
    --font-principal:'Rasa', serif;
    --color-principal: #414141;
    --color-secondary:#c9c9c9;
    --max-width: 87.5em;
    --space: 1.25em;
    --color-button: #eeeeee;
}

img{
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    transition: all 1s;

    &:hover{
        filter: grayscale(0%);
    }
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--font-principal);
    font-weight: 300;
    color: var(--color-principal);
    font-size: 1em;
}

.container{
    max-width: var(--max-width);
    margin: 0 auto;
}