@import url('reset.css');
@import url(https://fonts.googleapis.com/css?family=Rasa:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);

:root{
    --font-principal:'Rasa', serif;
    --color-principal: #414141;
    --color-secondary:#c9c9c9;
    --max-width: 87.5rem;
    --space: 1.25rem;
    --color-button: #eeeeee;
}



img{
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    transition: all 1s;

    &:hover{
        filter: grayscale(0%);
    }
}



*{
    box-sizing: border-box;
}

body{
    font-family: var(--font-principal);
    font-weight: 300;
    color: var(--color-principal);
    font-size: 1em;
}

.container{
    max-width: var(--max-width);
    margin: 0 auto;
}


/* Inicio header */


header{
    padding-top: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    z-index: 2;

}

header nav .menu{

    padding: calc( var(--space) * 2) 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.75em;
    padding: 0 1.25em;
}

header .container>a{
    display: inline-block;
    text-decoration: none;
    color: var(--color-principal);
    width: 50%;
}

header .container div{
    text-align: end;
    width: 50%;
}

header .container ul{
    width: 100%;
    text-align: center;

    & li{
        padding-top: var(--space);
    }
    .activo{
        color: black;
        font-weight: 500;
    }
    
    & a{
        display: inline-block;
        text-decoration: none;
        color: var(--color-principal);
        
    }
}


/* Fin header */


/* Mediaqueries */

@media(width >= 48rem) {

    header .container{
        flex-direction: row-reverse;
    }

    header .container>a{
        width: 20%;
        text-align: end;
    }
    
    header .container div{
        display: none;
        
    }

    header .container ul{
        
        width: 80%;
        text-align: start;
        padding: 0;
        

        & li{
            text-align: left;
            padding-top: 0;
            padding-right: var(--space);
            display: inline-block;
        }
    }
}

/* Fin Mediaqueries */